/*
 * Views.
 */
@import "../global-includes";

.filter-wrap {
  margin-bottom: 40px;

  .filter-toggle {
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    @include mq($from: medium) {
      width: 600px;
    }

    h2 {
      position: relative;
      //   @include font-awesome("\f13a", after, $font-size: 26px, $margin: 0 0 0 10px);

      &:before {
        transition: transform .5s ease-in-out;
      }
    }

    &.filter-toggle-expanded {
      h2 {
        //    @include font-awesome("\f13a", after, $font-size: 26px, $margin: 0 0 0 10px, $rotate: 180);
      }
    }

    &:before,
    &:after {
      content: '';
      border-top: 1px solid $black;
      margin: -14px 20px 0 0;
      flex: 1 0 20px;

      @include mq($from: medium) {
      }
    }

    &:after {
      margin: -14px 0 0 20px;

      @include mq($from: medium) {
      }
    }
  }

  .view-filters {
    @include fade-effect();
    visibility: hidden;
    opacity: 0;
    height: 0;

    &.filters-expanded {
      visibility: visible;
      opacity: 1;
      height: inherit;
    }
  }
}

/* ---- isotope ---- */
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 50%;
}

@media (min-width: 940px) {
  .grid-sizer,
  .grid-item {
    width: 33.33%;
  }
}

.grid-item {
  float: left;
  padding: 0;
}

.grid-item img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
}

.button-group {
  margin-bottom: 30px;
}
