@mixin remix-icon(
  $content,
  $font-size: null,
  $margin: null,
  $rotate: null,
  $hover_rotate: null,
  $transdur: null,
  $position: null,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
) {
  &:after {
    content: "#{$content}";
    font-family: remixicon;
    display: inline-block;
    font-weight: 400;
    line-height: 0;

    @if $font-size {
      @include rem(font-size, $font-size);
    }

    @if $margin {
      margin: $margin;
    }

    @if $rotate {
      transform: rotate(#{$rotate}deg);
    }

    @if $transdur {
      transition-duration: $transdur;
    }

    @if $position {
      position: $position;
    }

    @if $top {
      top: $top;
    }

    @if $right {
      right: $right;
    }

    @if $bottom {
      bottom: $bottom;
    }

    @if $left {
      left: $left;
    }
  }

  #{$a-tags-hover} {

    &:after {
      @if $hover_rotate {
        transform: rotate(#{$hover_rotate}deg);
      }
    }
  }
}

@mixin md-icon(
  $content,
  $font-size,
  $color: null,
) {
  &:before {
    content: "#{$content}";
    font-family: 'Material Icons';
    @include rem(font-size, $font-size);

    @if $color {
      left: $color;
    }
  }
}
