

abbr[title] {
  text-decoration: none;
}

.node--unpublished {
  position: relative;

  &:before {
    content: "Unpublished";
    @include rem(font-size, 100px);
    color: $dark-red;
    position: relative;
    z-index: -10;
    width: 100%;
    margin: 0 auto;
    font-family: serif;
    letter-spacing: 6px;
  }
}
