ul.tabs {
  display: flex;
  @include ul-reset();
  margin-top: 30px;

  > li {
    display: block;
    margin: 0;
    padding: 0;

    &:before {
      display: none;
    }

    a {
      background-color: $dark-teal;
      padding: 8px 20px;
      color: $white;
      text-decoration: none;
      display: block;
      text-align: center;
      margin: 0;
      position: relative;

      &:hover {
        background-color: $dark-red;
      }

      &.is-active {
        background-color: $dark-red;
      }
    }
  }
}

abbr[title] {
  text-decoration: none;
}

.node--unpublished {
  position: relative;

  &:before {
    content: "Unpublished";
    @include rem(font-size, 100px);
    color: $dark-red;
    position: relative;
    z-index: -10;
    width: 100%;
    margin: 0 auto;
    font-family: serif;
    letter-spacing: 6px;
  }
}
