.remove-bottom-margin {
  margin-bottom: 0 !important;
}

/* Flexbox Equal Height Bootstrap Columns (fully responsive) */
@media only screen and (min-width: 481px) {
  .flex-row.row {
    display: flex;
    flex-wrap: wrap;
  }

  .flex-row.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }

  .flex-row.row:after,
  .flex-row.row:before {
    display: flex;
  }

  .flex-row.row > [class*='col-'] > .box {
    display: flex;
    flex: 1;
  }

  .flex-row .flex-row--eq-height {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
  }
}

.demo-inverse-bg {
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 72px;
  margin: 10px 40px;
}


// Critical BS grid CSS.
@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container, .container-md, .container-sm {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1270px;
    margin: 0 auto;
  }
}

