.remove-bottom-margin {
  margin-bottom: 0 !important;
}

.demo-inverse-bg {
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 72px;
  margin: 10px 40px;
}

.label-is-hidden {
  label {
    @include visually-hidden();
  }
}

.cke_editable {
  img {
    width: 40% !important;
    height: auto !important;
    margin: 0 auto !important;
    display: flex !important;
  }
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  60% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}
