.remove-bottom-margin {
  margin-bottom: 0 !important;
}

.demo-inverse-bg {
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 72px;
  margin: 10px 40px;
}


.label-is-hidden {

  label {
    @include visually-hidden();
  }
}

