/**
 * Layout Builder UI enhancements.
 */
@import "../global-includes";

[aria-label="Layout Builder tools"] {
  display: flex;
  align-items: baseline;

  > input,
  > div {
   margin-right: 10px;
  }
}

.layout-builder {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

a.layout-builder__link {
  @include rem(font-size, 15px);
  font-weight: 600;
  @include link-effect();
  color: $charcoal;
}

img {
  width: 100%;
  height: auto;
}

#layout-builder-modal {

  fieldset:not(.fieldgroup)>legend {
    border-radius: 0;
    padding: 10px;
    overflow: hidden;
    display: block;
    position: relative;
    top: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .glb-form-item {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
  }

  .glb-media-library-item__preview {
    padding-bottom: 0;
    min-height: 260px;
  }

  .glb-form-item,
  textarea,
  label,
  input,
  optgroup,
  select {
    font-size: 17px !important;
    line-height: 1.7;
  }

  label {
    margin-top: 10px;
  }

  .glb-canvas-form__settings {
    padding-left: 0;
    padding-right: 0;
  }
}

.ui-dialog fieldset:not(.fieldgroup)>.fieldset-wrapper {
  margin-top: 32px;
}

.glb-form-item__description,
.glb-fieldset__description {
  line-height: 1.6;
  max-width: 100% !important;
}

div[id^="__lpform_edit-settings-label-"] {
  display: none;
}

#block-accesio-help {
  @include container(1340px);
}
