/**
 * Layout Builder UI enhancements.
 */
@import "../global-includes";

[aria-label="Layout Builder tools"] {
  display: flex;
  align-items: baseline;

  > input,
  > div {
   margin-right: 10px;
  }
}

.layout-builder {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.l-content.container-fluid {
  .is-layout-builder-admin & {
    @include container(1340px);
  }
}

a.layout-builder__link {
  @include rem(font-size, 15px);
  font-weight: 600;
  @include link-effect();
  color: $charcoal;
}

.l-content {
  @include container(1340px);
}

img {
  width: 100%;
  height: auto;
}
