/**
 * Layout Builder UI enhancements.
 */
@import "../global-includes";

[aria-label="Layout Builder tools"] {
  display: flex;
  align-items: baseline;

  > input,
  > div {
    margin-right: 10px;
  }
}

.layout-builder {
  margin-bottom: 30px;
  padding-bottom: 30px;

  &.layout-builder--content-preview-disabled {
    .contextual-region {
      outline: 2px solid var(--colorGinPrimary) !important;
      margin-bottom: 30px !important;
    }
  }

  .contextual-region {

    .contextual .contextual-links a {
      font-size: 18px;
    }
  }

  &.layout-builder--content-preview-disabled .layout-builder-block {
    margin: 32px 0;
  }
}

a.layout-builder__link {
  @include rem(font-size, 15px);
  font-weight: 600;
  @include link-effect();
  color: $charcoal;
}

img {
  width: 100%;
  height: auto;
}

#layout-builder-modal {

  fieldset:not(.fieldgroup) > legend {
    border-radius: 0;
    padding: 10px;
    overflow: hidden;
    display: block;
    position: relative;
    top: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .glb-form-item {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
  }

  .glb-media-library-item__preview {
    padding-bottom: 0;
    min-height: 260px;
  }

  .glb-form-item,
  textarea,
  label,
  input,
  optgroup,
  select {
    font-size: 17px !important;
    line-height: 1.7;
  }

  label {
    margin-top: 10px;
  }

  .glb-canvas-form__settings {
    padding-left: 0;
    padding-right: 0;
  }

  .glb-ief-entity-operations.js-form-wrapper.glb-form-wrapper {
    input {
      font-size: 14px !important;
    }
  }

  thead th {
    font-size: 15px !important;
  }
}

.ui-dialog fieldset:not(.fieldgroup) > .fieldset-wrapper {
  margin-top: 32px;
}

.glb-form-item__description,
.glb-fieldset__description {
  line-height: 1.6;
  max-width: 100% !important;
}

div[id^="__lpform_edit-settings-label-"] {
  display: none;
}

#block-accesio-help {
  @include container(1340px);
}

.layout-builder__region:after {
  content: '';
  position: absolute;
  border: 2px dashed #333 !important;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
}

.layout__region-info.layout-builder__region-label {
  font-size: 17px !important;
  font-weight: 600;
  letter-spacing: 1px;
  position: absolute;
  color: #fff;
  display: block;
  top: 2px;
  left: 0;
  z-index: 1;
  background: var(--colorGinPrimary);
  padding: 6px;
}

.layout-builder__section .layout-builder__link--configure {
  color: var(--colorGinPrimary);
}

.layout-builder__link--remove {
  -webkit-mask-image: none !important;
  mask-image: none !important;
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }

  &:after {
    content: "";
    background-image: url('/themes/custom/accesio/dist/images/close.svg');
    background-repeat: no-repeat;
    height: 20px;
    display: block;
    top: -20px;
    position: relative;
    background-size: 74%;
    z-index: 10000;
    width: 25px;
  }
}

.layout-builder-block__content-preview-placeholder-label {
  font-weight: 600;
}

.glb-canvas-form__settings {
  flex-grow: initial;
  padding-left: 20px;
  padding-right: 20px;
}

.js-form-type-select {
  position: relative;
  padding: 0 20px;

  &.glb-form-item-layout-settings-column-widths {
    padding: 0;
  }

  select[multiple="multiple"] {
    min-height: 100px !important;

    .ief-row-entity & {
      min-height: inherit !important;
    }
  }
}

.layout__region-info.layout-builder__region-label {
  position: relative;
}

.person-card,
.c-accordion,
.stats {
  display: block;
  margin: 0 auto !important;
}

.quote {

  .layout-builder--content-preview-disabled & {
    border: 0;
  }
}

.glb-form-type--checkbox.js-form-item-preview-regions {
  display: none;
}

.image-widget.js-form-managed-file.form-managed-file img {
  width: 230px;
}

.js-media-library-widget {
  .item.item--thumbnail.item--type-image img {
    width: 200px;
    height: auto;
  }
}


