/**
 * page title styling.
 */
@use './node_modules/sass-rem' as rem;
@use "../global-includes" as *;

.page-title {
  box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.3), 0 4px 120px 0 rgba(0, 0, 0, 0.15);
  background-color: $primary-color-dark;

  h1 {
    font-size: rem.convert(60px);
    line-height: rem.convert(62px);
    color: $white;
  }

  &__wrap {
    @include container(1340px);
  }

  &__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 170px;
  }

  svg {
    fill: $white;
    width: 100px;
    position: relative;
    top: -14px;
  }

  img {
    @include visually-hidden();
  }
}
