/*
Share button styling, !important used to
override inline styles from the module js.
 */
@import "../global-includes";

.share {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 !important;
  font-size: inherit !important;

  @include mq($until: medium) {
    margin-top: 20px;
  }

  &__items {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 100% !important;
    list-style: none;
    margin: 14px 0 0 0;

    @include mq($until: medium) {
      margin: 2px 0 0 0;
    }
  }

  &__prefix {
    @include visually-hidden();
  }

  &__item {
    max-width: inherit !important;
    margin-bottom: 0 !important;
    width: 44px !important;

    a {
      background-color: transparent !important;
      text-decoration: none;
      @include link-effect();


      #{$a-tags-hover} {
        i {
          padding: 6px;
          color: $white;
          background-color: $primary-color;
        }
      }
    }
  }

  &__text {
    @include visually-hidden();
  }

  &__icon {
    background: none !important;

    i {
      @include rem(font-size, 28px);
      color: $charcoal;
    }

    &--email {
      i {
        @include rem(font-size, 16px);
      }
    }

    &--twitter {
      i {
        color: #1da1f2;
      }

    }

    &--pinterest {

      i {
        color: #bd081c;
      }
    }

    &--linkedin {

      i {
        color: #0a66c2;
      }
    }
  }

  &__link {
    background-color: transparent !important;
  }
}
