.ico {
  background-image: url("../src/icon/icons.svg");
}

.AtlanticFellows_BrainHealth_rgb {
  background-position: 25% 0;
}

.AtlanticFellows_BrainHealth_rgb-dims {
  width: 110px;
  height: 18.06px;
}

.GBHI-watermark {
  background-position: 50% 79.90641418563924%;
}

.GBHI-watermark-dims {
  width: 110px;
  height: 105.56px;
}

.GBHI_logo_RGB {
  background-position: 50% 33.17048898538924%;
}

.GBHI_logo_RGB-dims {
  width: 110px;
  height: 28.86px;
}

.TCD {
  background-position: 25% 4.097839898348157%;
}

.TCD-dims {
  width: 110px;
  height: 30.28px;
}

.UCSF {
  background-position: 0 27.569613273515625%;
}

.UCSF-dims {
  width: 110px;
  height: 72.01px;
}

.UCSF-TCD_lockup_RGB_1 {
  background-position: 25% 10.77838970768579%;
}

.UCSF-TCD_lockup_RGB_1-dims {
  width: 110px;
  height: 22.51px;
}

.icon-arrow_left {
  background-position: 10% 94.14754098360656%;
}

.icon-arrow_left-dims {
  width: 50px;
  height: 44px;
}

.icon-arrow_left-blue {
  background-position: 0 94.14754098360656%;
}

.icon-arrow_left-blue-dims {
  width: 50px;
  height: 44px;
}

.icon-arrow_left-dk-blue {
  background-position: 76% 68.3864168618267%;
}

.icon-arrow_left-dk-blue-dims {
  width: 50px;
  height: 44px;
}

.icon-arrow_left-green {
  background-position: 66% 78.69086651053864%;
}

.icon-arrow_left-green-dims {
  width: 50px;
  height: 44px;
}

.icon-arrow_left-white {
  background-position: 76% 78.69086651053864%;
}

.icon-arrow_left-white-dims {
  width: 50px;
  height: 44px;
}

.icon-arrow_right {
  background-position: 66% 68.3864168618267%;
}

.icon-arrow_right-dims {
  width: 50px;
  height: 44px;
}

.icon-bar {
  background-position: 93.93939393939394% 77.8969957081545%;
}

.icon-bar-dims {
  width: 22px;
  height: 5px;
}

.icon-box-checked {
  background-position: 66.01941747572816% 91.99313501144165%;
}

.icon-box-checked-dims {
  width: 35px;
  height: 34px;
}

.icon-box-unchecked {
  background-position: 78.01147227533461% 56.30561797752809%;
}

.icon-box-unchecked-dims {
  width: 27px;
  height: 26px;
}

.icon-calendar {
  background-position: 60.29962546816479% 98.45695364238411%;
}

.icon-calendar-dims {
  width: 16px;
  height: 18px;
}

.icon-camera {
  background-position: 62.38185255198488% 83.70264317180617%;
}

.icon-camera-dims {
  width: 21px;
  height: 17px;
}

.icon-carrot-down {
  background-position: 93.9879759519038% 75.56561085972851%;
}

.icon-carrot-down-dims {
  width: 51px;
  height: 29px;
}

.icon-carrot-left {
  background-position: 57.076775431861805% 43.33571428571429%;
}

.icon-carrot-left-dims {
  width: 29px;
  height: 51px;
}

.icon-carrot-left-medblue {
  background-position: 57.076775431861805% 55.47857142857143%;
}

.icon-carrot-left-medblue-dims {
  width: 29px;
  height: 51px;
}

.icon-carrot-right {
  background-position: 84.45297504798465% 79.52380952380952%;
}

.icon-carrot-right-dims {
  width: 29px;
  height: 51px;
}

.icon-carrot-up {
  background-position: 66% 56.68778280542986%;
}

.icon-carrot-up-dims {
  width: 50px;
  height: 29px;
}

.icon-check {
  background-position: 95.14925373134328% 80.34934497816595%;
}

.icon-check-dims {
  width: 14px;
  height: 13px;
}

.icon-email {
  background-position: 91.11531190926276% 84.4298245614035%;
}

.icon-email-dims {
  width: 21px;
  height: 15px;
}

.icon-email-ltblue {
  background-position: 83.17580340264651% 84.4298245614035%;
}

.icon-email-ltblue-dims {
  width: 21px;
  height: 15px;
}

.icon-email-white {
  background-position: 87.14555765595463% 84.4298245614035%;
}

.icon-email-white-dims {
  width: 21px;
  height: 15px;
}

.icon-gbhi-logo {
  background-position: 65.97744360902256% 83.51868131868132%;
}

.icon-gbhi-logo-dims {
  width: 18px;
  height: 16px;
}

.icon-instagram {
  background-position: 99.61685823754789% 75.39503386004515%;
}

.icon-instagram-dims {
  width: 28px;
  height: 28px;
}

.icon-instagram-ltblue {
  background-position: 72.79693486590038% 56.55981941309255%;
}

.icon-instagram-ltblue-dims {
  width: 28px;
  height: 28px;
}

.icon-link {
  background-position: 18.06083650190114% 99.77852348993288%;
}

.icon-link-dims {
  width: 24px;
  height: 24px;
}

.icon-link-ltblue {
  background-position: 27.186311787072242% 99.77852348993288%;
}

.icon-link-ltblue-dims {
  width: 24px;
  height: 24px;
}

.icon-link-white {
  background-position: 0 99.77852348993288%;
}

.icon-link-white-dims {
  width: 24px;
  height: 24px;
}

.icon-location {
  background-position: 72.25325884543761% 98.45695364238411%;
}

.icon-location-dims {
  width: 13px;
  height: 18px;
}

.icon-location-green {
  background-position: 77.83985102420857% 98.45695364238411%;
}

.icon-location-green-dims {
  width: 13px;
  height: 18px;
}

.icon-minus {
  background-position: 85.63327032136105% 89.13747228381375%;
}

.icon-minus-dims {
  width: 21px;
  height: 20px;
}

.icon-mono-logo {
  background-position: 99.86608865385051% 0;
}

.icon-mono-logo-dims {
  width: 109.41px;
  height: 110px;
}

.icon-person {
  background-position: 75.23452157598499% 98.45695364238411%;
}

.icon-person-dims {
  width: 17px;
  height: 18px;
}

.icon-phone {
  background-position: 93.57277882797732% 89.13747228381375%;
}

.icon-phone-dims {
  width: 21px;
  height: 20px;
}

.icon-phone-ltblue {
  background-position: 97.54253308128544% 89.13747228381375%;
}

.icon-phone-ltblue-dims {
  width: 21px;
  height: 20px;
}

.icon-phone-white {
  background-position: 81.66351606805293% 89.13747228381375%;
}

.icon-phone-white-dims {
  width: 21px;
  height: 20px;
}

.icon-play {
  background-position: 57.30337078651685% 98.45695364238411%;
}

.icon-play-dims {
  width: 16px;
  height: 18px;
}

.icon-play-white {
  background-position: 69.66292134831461% 98.45695364238411%;
}

.icon-play-white-dims {
  width: 16px;
  height: 18px;
}

.icon-plus {
  background-position: 89.60302457466919% 89.13747228381375%;
}

.icon-plus-dims {
  width: 21px;
  height: 20px;
}

.icon-search {
  background-position: 72.11538461538461% 91.36590909090908%;
}

.icon-search-dims {
  width: 30px;
  height: 31px;
}

.icon-search-sm {
  background-position: 94.19475655430712% 84.4298245614035%;
}

.icon-search-sm-dims {
  width: 16px;
  height: 15px;
}

.icon-triangle {
  background-position: 66.60412757973734% 98.45695364238411%;
}

.icon-triangle-dims {
  width: 17px;
  height: 18px;
}

.icon-triangle-solid {
  background-position: 63.41463414634146% 98.45695364238411%;
}

.icon-triangle-solid-dims {
  width: 17px;
  height: 18px;
}

.icon-world {
  background-position: 92.53731343283582% 80.34934497816595%;
}

.icon-world-dims {
  width: 14px;
  height: 13px;
}

.icon-x-close {
  background-position: 99.80916030534351% 62.92134831460674%;
}

.icon-x-close-dims {
  width: 26px;
  height: 26px;
}

.icon-x-close-green {
  background-position: 99.80916030534351% 68.76404494382022%;
}

.icon-x-close-green-dims {
  width: 26px;
  height: 26px;
}

.icon_facebook {
  background-position: 13.49809885931559% 99.77852348993288%;
}

.icon_facebook-dims {
  width: 24px;
  height: 24px;
}

.icon_file {
  background-position: 97.77777777777777% 29.649595687331537%;
}

.icon_file-dims {
  width: 100px;
  height: 100px;
}

.icon_linkedin {
  background-position: 9.108159392789373% 99.77852348993288%;
}

.icon_linkedin-dims {
  width: 23px;
  height: 24px;
}

.icon_linkedin_ltblue {
  background-position: 36.24288425047438% 99.77852348993288%;
}

.icon_linkedin_ltblue-dims {
  width: 23px;
  height: 24px;
}

.icon_small_drop-down {
  background-position: 25% 26.916583062128367%;
}

.icon_small_drop-down-dims {
  width: 110px;
  height: 62.33px;
}

.icon_small_drop-up {
  background-position: 25% 80.88919667590028%;
}

.icon_small_drop-up-dims {
  width: 110px;
  height: 110px;
}

.icon_twitter {
  background-position: 31.749049429657795% 99.77852348993288%;
}

.icon_twitter-dims {
  width: 24px;
  height: 24px;
}

.icon_twitter_ltblue {
  background-position: 4.562737642585551% 99.77852348993288%;
}

.icon_twitter_ltblue-dims {
  width: 24px;
  height: 24px;
}

.icon_youtube {
  background-position: 77.43785850860421% 89.13747228381375%;
}

.icon_youtube-dims {
  width: 27px;
  height: 20px;
}

.logo-tcd {
  background-position: 75% 49.95004995004995%;
}

.logo-tcd-dims {
  width: 110px;
  height: 30.56px;
}

.logo-ucsf {
  background-position: 94.21841541755889% 67.1462829736211%;
}

.logo-ucsf-dims {
  width: 83px;
  height: 54px;
}

.map-africa {
  background-position: 0 80.88919667590028%;
}

.map-africa-dims {
  width: 110px;
  height: 110px;
}

.map-asia {
  background-position: 75% 30.47091412742382%;
}

.map-asia-dims {
  width: 110px;
  height: 110px;
}

.map-europe {
  background-position: 75% 0;
}

.map-europe-dims {
  width: 110px;
  height: 110px;
}

.map-latin-america {
  background-position: 43.752504786926124% 50.418282548476455%;
}

.map-latin-america-dims {
  width: 100.86px;
  height: 110px;
}

.map-mediteranean {
  background-position: 0 0;
}

.map-mediteranean-dims {
  width: 110px;
  height: 110px;
}

.map-north-america {
  background-position: 23.73298237286673% 50.418282548476455%;
}

.map-north-america-dims {
  width: 86.51px;
  height: 110px;
}

.map-oceania {
  background-position: 0 50.418282548476455%;
}

.map-oceania-dims {
  width: 110px;
  height: 110px;
}

.social-facebook-black {
  background-position: 44.97153700189753% 99.55580357142857%;
}

.social-facebook-black-dims {
  width: 23px;
  height: 23px;
}

.social-facebook-color {
  background-position: 49.33586337760911% 99.55580357142857%;
}

.social-facebook-color-dims {
  width: 23px;
  height: 23px;
}

.social-facebook-green {
  background-position: 53.700189753320686% 99.55580357142857%;
}

.social-facebook-green-dims {
  width: 23px;
  height: 23px;
}

.social-instagram-color {
  background-position: 50% 18.43991249025574%;
}

.social-instagram-color-dims {
  width: 110px;
  height: 73.33px;
}

.social-instagram-green {
  background-position: 50% 0;
}

.social-instagram-green-dims {
  width: 110px;
  height: 73.33px;
}

.social-linkedin-black {
  background-position: 40.60721062618596% 99.55580357142857%;
}

.social-linkedin-black-dims {
  width: 23px;
  height: 23px;
}

.social-linkedin-color {
  background-position: 35.294117647058826% 93.2737819025522%;
}

.social-linkedin-color-dims {
  width: 40px;
  height: 40px;
}

.social-linkedin-green {
  background-position: 27.45098039215686% 93.2737819025522%;
}

.social-linkedin-green-dims {
  width: 40px;
  height: 40px;
}

.social-linkedin-white {
  background-position: 19.607843137254903% 93.2737819025522%;
}

.social-linkedin-white-dims {
  width: 40px;
  height: 40px;
}

.social-twitter-black {
  background-position: 22.623574144486692% 99.77852348993288%;
}

.social-twitter-black-dims {
  width: 24px;
  height: 24px;
}

.social-twitter-color {
  background-position: 43.13725490196079% 93.2737819025522%;
}

.social-twitter-color-dims {
  width: 40px;
  height: 40px;
}

.social-twitter-green {
  background-position: 50.98039215686274% 93.2737819025522%;
}

.social-twitter-green-dims {
  width: 40px;
  height: 40px;
}

.social-twitter-white {
  background-position: 58.8235294117647% 93.2737819025522%;
}

.social-twitter-white-dims {
  width: 40px;
  height: 40px;
}

.social-yt-black {
  background-position: 89.67495219885278% 80.30973451327434%;
}

.social-yt-black-dims {
  width: 27px;
  height: 19px;
}

.trinity-common-use-white {
  background-position: 25% 16.086186540731997%;
}

.trinity-common-use-white-dims {
  width: 110px;
  height: 30.56px;
}

.video-overlay {
  background-position: 97.34513274336283% 52.36907730673317%;
}

.video-overlay-dims {
  width: 98px;
  height: 70px;
}

