.ico {
  background-image: url("../src/icon/icons.svg");
}

.icon_plus {
  background-position: 0 0;
}

.icon_plus-dims {
  width: 100px;
  height: 100px;
}

.icon_timeline {
  background-position: 100% 0;
}

.icon_timeline-dims {
  width: 100px;
  height: 100px;
}

