// Image path.
// example usage:
// background-image: url("#{$path-to-images}/yada-yada.png");
$path-to-images: "/themes/custom/accesio/dist/assets/images";

// SVG path.
// Usage same as above.
$path-to-icons: "/themes/custom/accesio/src/icon/raw";

// Gray tones.
$black: #212121;
$charcoal: #404040;
$dark-gray: #6f6f6f;
$medium-gray: #98928a;
$gray: #b7b7b7;
$light-gray: #dadada;
$x-light-gray: #f8f6f3;
$pale-gray: #eeeeee;
$off-white: #f5f5f5;
$white: #fff;

// Core colors.
$dark-red: #890c0c;
$bright-red: #b1040e;
$cyan: #007c92;
$dark-teal: #00505c;
$purple: #4e1749;
$gold: #ffc300;

$primary-color: $dark-red;
$secondary-color: $gold;

// Color map.
$palette: (
  black: $black,
  charcoal: $charcoal,
  dark-gray: $dark-gray,
  medium-gray: $medium-gray,
  light-gray: $light-gray,
  pale-gray: $pale-gray,
  white: $white,
  dark-red: $dark-red,
  bright-red: $bright-red,
  cyan: $cyan,
  teal: $dark-teal,
  purple: $purple,
  gold: $gold,
);

// For usage with the container mixin.
$small_desktop: 1024px;
$desktop: 1280px;

// Breakpoints.
// https://app.zeplin.io/project/5e6682f618ae0f143906fcd7/screen/5e66aa6445b013115f8e1a8e
// Note, $mobile, $small_desktop, and $desktop mirror the names that are in the designs.
// Map for sass MQ.
$mq-breakpoints: (
  small: 0px,
  mobile: 375px,
  small_plus: 520px,
  medium: 768px,
  medium-large: 920px,
  small_desktop: 1024px,
  desktop: 1280px,
  x_wide: 1440px,
);

// Uncomment to debug breakpoints.
//$mq-show-breakpoints: (small, mobile, small_plus, medium, medium-large, small_desktop, desktop, x_wide);


$a-tags: 'a, &:active, &:hover, &:visited';
$a-tags-hover: '&:active, &:hover';
