// Image path.
// example usage:
// background-image: url("#{$path-to-images}/yada-yada.png");
$path-to-images: "/themes/custom/accesio/dist/assets/images";

// SVG path.
// Usage same as above.
$path-to-icons: "/themes/custom/accesio/src/icon/raw";

// Gray tones.
$black: #212121;
$charcoal: #404040;
$dark-gray: #6f6f6f;
$medium-gray: #98928a;
$gray: #b7b7b7;
$light-gray: #dadada;
$x-light-gray: #f8f6f3;
$pale-gray: #eee;
$off-white: #f5f5f5;
$white: #fff;

// Core colors.
$eggplant: #482e6e;
$dark-red: #890c0c;
$bright-red: #b1040e;
$cyan: #007c92;
$dark-teal: #00505c;
$purple: #4e1749;
$goldenrod: #ffc300;
$green: #69cec3;

/*
A11Y Color grids.
https://contrast-grid.eightshapes.com/?background-colors=&foreground-colors=%2369CEC3%2C%20Green%0D%0A%23212121%2C%20Black%0D%0A%23890C0C%2C%20Dark%20Red%0D%0A%23FFC300%2C%20Goldenrod%0D%0A%23404040%2C%20Charcoal%0D%0A%23FFF%2C%20White%0D%0A%23482e6e%2C%20Eggplant%0D%0A%23301f4a%2C%20Dark%20eggplant%0D%0A&es-color-form__tile-size=large
*/

$primary-color: $eggplant;
$primary-color-dark: darken($primary-color, 10%);
$secondary-color: $green;

// Color map.
$palette: (
  black: $black,
  charcoal: $charcoal,
  dark-gray: $dark-gray,
  medium-gray: $medium-gray,
  light-gray: $light-gray,
  pale-gray: $pale-gray,
  white: $white,
  dark-red: $dark-red,
  bright-red: $bright-red,
  cyan: $cyan,
  teal: $dark-teal,
  purple: $purple,
  gold: $goldenrod,
  eggplant: $eggplant,
);

// For usage with the container mixin.
$small_desktop: 1024px;
$desktop: 1280px;

// Breakpoints.
// https://app.zeplin.io/project/5e6682f618ae0f143906fcd7/screen/5e66aa6445b013115f8e1a8e
// Note, $mobile, $small_desktop, and $desktop mirror the names that are in the designs.
// Map for sass MQ.
$mq-breakpoints: (
  small: 0px,
  mobile: 375px,
  small_plus: 520px,
  medium: 768px,
  medium-large: 920px,
  small_desktop: 1024px,
  med_desktop: 1140px,
  desktop: 1280px,
  x_wide: 1440px,
);

// Uncomment to debug breakpoints.
//$mq-show-breakpoints: (small, mobile, small_plus, medium, medium-large, small_desktop, desktop, x_wide);

$a-tags: 'a, &:active, &:hover, &:visited';
$a-tags-hover: '&:active, &:focus, &:hover ';

// Form varaibles.
$md-radio-checked-color: $primary-color;
$md-radio-border-color: rgba(0, 0, 0, 0.6);
$md-radio-size: 22px;
$md-radio-checked-size: 12px;
$md-radio-ripple-size: 15px;
