//
// Grid Options
//
// To avoid your options getting overridden by an update,
// copy and paste the below options to your own sass file
// and include it before this file.

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
        sm: 740px,
        md: 900px,
        lg: 1120px,
        xl: 1270px
) !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

// END of Grid Options

// Bootstrap file imports
@import "bs-grid/text/mixins/deprecate";
@import "bs-grid/text/mixins/hover";
@import "bs-grid/text/mixins/text-emphasis";
@import "bs-grid/text/mixins/text-hide";
@import "bs-grid/text/mixins/text-truncate";
@import "bs-grid/screenreaders/mixins/screen-reader";
@import "bs-grid/screenreaders/utilities/screenreaders";
@import "bs-grid/breakpoints/mixins/breakpoints";
@import "bs-grid/layout/mixins/visibility";
@import "bs-grid/grid/bootstrap-grid";
@import "bs-grid/text/utilities/text";
@import "bs-grid/sizing/utilities/sizing";
@import "bs-grid/layout/utilities/position";
@import "bs-grid/layout/utilities/visibility";
