<div class="container">
<h1>Atoms</h1>

<p><em>Where possible, all adjustments are made in settings.scss. Otherwise see the specific scss file for each element in themes/accesio/scss</em></p>


  {{ drupal_view('icons', 'icons_block') }}

<ul class="vertical menu">
  <li><a href="/accesio-styles/atoms-colors"><span>Colors </span></a></li>
  <li><a href="/accesio-styles/atoms-typography"><span>Typography</span></a></li>
  <li><a href="/accesio-styles/atoms-layout"><span>Layout</span></a></li>
  <li><a href="/accesio-styles/atoms-links"><span>Links </span></a></li>
  <li><a href="/accesio-styles/atoms-feedback"><span>Feedback </span></a></li>
  <li><a href="/accesio-styles/atoms-forms"><span>Forms</span></a></li>
  <li><a href="/accesio-styles/atoms-images"><span>Images</span></a></li>
  <li><a href="/accesio-styles/atoms-quotes"><span>Quotes</span></a></li>
</ul>

</div>

