<h1>Colors</h1>

<div class="grid-x grid-padding-x">
  <div class="cell">
    <h3>Primary</h3>
  </div>
</div>
<div class="grid-x grid-padding-x grid-padding-y">
  <div class="cell medium-3">
    <h4>Bright Blue</h4>
    <div class="color-div blue-bright">
    </div>
    <code>$color-blue-bright</code>
  </div>
  <div class="cell medium-3">
    <h4>Happy Blue</h4>
    <div class="color-div blue-happy">
    </div>
    <code>$color-blue-happy</code>
  </div>
  <div class="cell medium-3">
    <h4>Dark Happy Blue</h4>
    <div class="color-div blue-happy-dark">
    </div>
    <code>$color-blue-happy-dark</code>
  </div>
  <div class="cell medium-3">
    <h4>Medium Star Blue</h4>
    <div class="color-div blue-star-medium">
    </div>
    <code>$color-blue-star-medium</code>
  </div>
  <div class="cell medium-3">
    <h4>Uniform Blue</h4>
    <div class="color-div blue-uniform">
    </div>
    <code>$color-blue-uniform</code>
  </div>
  <div class="cell medium-3">
    <h4>Sky Blue</h4>
    <div class="color-div blue-sky">
    </div>
    <code>$color-blue-sky</code>
  </div>

  <div class="cell medium-3">
    <h4>Patch Blue</h4>
    <div class="color-div blue-patch">
    </div>
    <code>$color-blue-patch</code>
  </div>

  <div class="cell medium-3">
    <h4>Medium Patch Blue</h4>
    <div class="color-div blue-patch-medium">
    </div>
    <code>$color-blue-patch-medium</code>
  </div>

  <div class="cell medium-3">
    <h4>Dark Patch Blue</h4>
    <div class="color-div blue-patch-dark">
    </div>
    <code>$color-blue-patch-dark</code>
  </div>

</div>


<div class="grid-x grid-padding-x">
  <div class="cell">
    <h3>Secondary</h3>
  </div>
</div>
<div class="grid-x grid-padding-x">
  <div class="cell medium-3">
    <h4>Patch Yellow</h4>
    <div class="color-div yellow-patch">
    </div>
    <code>$color-yellow-patch</code>
  </div>
  <div class="cell medium-3">
    <h4>Gold</h4>
    <div class="color-div gold">
    </div>
    <code>$color-gold</code>
  </div>

</div>

<div class="grid-x grid-padding-x">
  <div class="cell">
    <h3>Tertiary</h3>
  </div>
</div>
<div class="grid-x grid-padding-x">
  <div class="cell medium-3">
    <h4>Wine Red</h4>
    <div class="color-div red-wine">
    </div>
    <code>$color-red-wine</code>
  </div>
  <div class="cell medium-3">
    <h4>Patch Red</h4>
    <div class="color-div red-patch">
    </div>
    <code>$color-red-patch</code>
  </div>

</div>


<div class="grid-x grid-padding-x">
  <div class="cell">
    <h3>Neutral</h3>
  </div>
</div>
<div class="grid-x grid-padding-x">
  <div class="cell medium-3">
    <h4>Darkest Gray</h4>
    <div class="color-div gray-darkest">
    </div>
    <code>$color-gray-darkest</code>
  </div>
  <div class="cell medium-3">
    <h4>Dark Gray</h4>
    <div class="color-div gray-dark">
    </div>
    <code>$color-gray-dark</code>
  </div>
  <div class="cell medium-3">
    <h4>Gray</h4>
    <div class="color-div gray">
    </div>
    <code>$color-gray</code>
  </div>
  <div class="cell medium-3">
    <h4>Cool Gray</h4>
    <div class="color-div gray-cool">
    </div>
    <code>$color-gray-cool</code>
  </div>

  <div class="cell medium-3">
    <h4>Light Gray</h4>
    <div class="color-div gray-light">
    </div>
    <code>$color-gray-light</code>
  </div>
</div>




