<h2>Quotes</h2>
<h3>Horizontal Rule</h3>
<hr/>


<h3>Inline Text Link</h3>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut posuere urna sit amet urna pharetra laoreet. Sed mattis,
  neque vel sollicitudin faucibus, ex nunc suscipit ligula, sit amet <a href="#">suscipit eros</a> nibh porta ipsum.
  Pellentesque malesuada mollis sollicitudin.
</p>

<h3>Small Text</h3>
<p>
  <small>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut posuere urna sit amet urna pharetra laoreet. Sed mattis,
    neque vel sollicitudin faucibus, ex nunc suscipit ligula, sit amet <a href="#">suscipit eros</a> nibh porta ipsum.
    Pellentesque malesuada mollis sollicitudin.
  </small>
</p>


<h3>Blockquote/Image Quote</h3>

<div class="image-quote" style="background-image:url('http://lorempixel.com/1600/800/')">
  <div class="image-quote-interior">
    <p>
      “The San Francisco Police Department offers qualified men and women the opportunity to make a positive difference
      in
      our citizens’ daily lives. From our patrol officers to our community engagement team and civilian staff, we are
      committed to excellence and providing professional service for all to keep our City safe. I encourage you to apply
      to become one of San Francisco’s finest.”
    </p>
    <p class="image-quote-source">
      -Chief William Scott
    </p>
  </div>
  <span class="image-quote-bg"></span>
</div>

<h3>Blockquote — small</h3>
<blockquote>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut posuere urna sit amet urna pharetra laoreet. Sed mattis, neque vel sollicitudin faucibus, ex nunc suscipit ligula, sit amet suscipit eros nibh porta ipsum. Pellentesque malesuada mollis sollicitudin. Pellentesque mattis porttitor orci, id finibus enim dignissim ac. In quis ligula nibh.
</blockquote>
<p class="blockquote-source">-Chief William Scott</p>


<h3>Lists</h3>
<h4>List — unordered</h4>
<ul>
  <li>lorem ipsum</li>
  <li>lorem ipsum</li>
  <li>lorem ipsum</li>
  <li>lorem ipsum</li>
</ul>

<h4>List — ordered</h4>
<ol>
  <li>lorem ipsum</li>
  <li>lorem ipsum</li>
  <li>lorem ipsum</li>
  <li>lorem ipsum</li>
</ol>
