<h2>Images</h2>

<h3>Homepage Hero Image</h3>

<figure>
  <img src="https://via.placeholder.com/1600x640" class="homepage-hero"/>
  <figcaption>
    Hero Image — full browser width, auto<br/>
    Aspect ratio: 5:2<br/>
    <strong>Image Style: Scale and crop, 1600px x 640px</strong>
  </figcaption>
</figure>


<h3>Mobile Homepage Hero Image</h3>

<figure>
  <img src="https://via.placeholder.com/640x320" class="homepage-hero-mobile"/>
  <figcaption>
    Hero Image — full width, auto<br/>
    Aspect ratio: 2:1<br/>
    <strong>Image Style: Scale and crop, 640px x 320px</strong>
  </figcaption>
</figure>

<h3>Landing Page Hero Image</h3>

<figure>
  <img src="https://via.placeholder.com/1600x533" class="landing-hero"/>
  <figcaption>
    Full browser width, auto<br/>
    Aspect ratio: 3:1<br/>
    <strong>Image Style: Scale and crop, 1600px x 533.33px</strong>
  </figcaption>
</figure>

<h3>Mobile Landing Page Hero Image</h3>

<figure>
  <img src="https://via.placeholder.com/640x213" class="landing-hero"/>
  <figcaption>
    Full browser width, auto<br/>
    Aspect ratio: 3:1<br/>
    <strong>Image Style: Scale and crop, 640px x 213.33px</strong>
  </figcaption>
</figure>

<h3>Headshot with Quote</h3>

<div class="grid-x grid-padding-x">
  <div class="headshot-wrapper medium-8 cell grid-x grid-padding-x" >

      <figure class="medium-4 cell headshot-image-wrapper">
        <img src="https://via.placeholder.com/220x220" class="landing-hero"/>
        <figcaption>
          Image: 220x220<br/>
          Aligned: left<br/>
          Aspect ratio: 1:1<br/>
          <strong>Image Style: Scale and crop, 220px by 220px</strong>
        </figcaption>
      </figure>
      <div class="headshot-quote medium-8 cell">
        <p>
          Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. Proin
          pretium, leo ac pellentesque mollis, felis nunc ultrices eros, sed gravida augue augue mollis justo.
          Vestibulum
          turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl.
        </p>
        <p><a href="#">Read More</a></p>
      </div>
    </div>

</div>


<h3>Full Width with photo credit</h3>

<figure>
  <img src="https://via.placeholder.com/1600x800" class="homepage-hero-mobile"/>
  <figcaption class="styled-caption">
    Aspect ratio: 2:1<br/>
    <strong>Image Style: Scale and crop, 1600px x 800px</strong>
    <strong>Mobile Image Style: Scale and crop, 640px x 320px</strong>
  </figcaption>
</figure>


<h3>List Item Image With Tag</h3>


<div class="taxonomy-chip-wrapper">
  <a href="#" class="taxonomy-chip">Category</a>
  <img src="https://via.placeholder.com/165x215" />
</div>