<div class="container">
  <h1>Typography</h1>

  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>

  <h3>Paragraph Body Text</h3>
  <p>Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus. Praesent metus tellus, elementum eu, semper
    a, adipiscing nec, purus. Sed a libero. Cras dapibus. Vestibulum eu odio. Praesent metus tellus, elementum eu,
    semper a, adipiscing nec, purus. Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus. Sed a libero.
    Cras dapibus. Vestibulum eu odio.</p>

  <h3>Paragraph Intro/Lead</h3>
  <p class="lead">Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus. Praesent metus tellus, elementum
    eu, semper a, adipiscing nec, purus. Sed a libero. Cras dapibus. Vestibulum eu odio. Praesent metus tellus,
    elementum eu, semper a, adipiscing nec, purus. Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus.
    Sed a libero. Cras dapibus. Vestibulum eu odio.</p>

  <h3>Paragraph Body Bold</h3>
  <p><strong>Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus. Praesent metus tellus, elementum eu,
      semper a, adipiscing nec, purus. Sed a libero. Cras dapibus. Vestibulum eu odio. Praesent metus tellus, elementum
      eu, semper a, adipiscing nec, purus. Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus. Sed a
      libero. Cras dapibus. Vestibulum eu odio.</strong></p>

  <h3>Paragraph Body Italic</h3>
  <p><em>Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus. Praesent metus tellus, elementum eu,
      semper a, adipiscing nec, purus. Sed a libero. Cras dapibus. Vestibulum eu odio. Praesent metus tellus, elementum
      eu, semper a, adipiscing nec, purus. Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus. Sed a
      libero. Cras dapibus. Vestibulum eu odio.</em></p>

  <h3>Paragraph Body Small</h3>
  <p><small>Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus. Praesent metus tellus, elementum eu,
      semper a, adipiscing nec, purus. Sed a libero. Cras dapibus. Vestibulum eu odio. Praesent metus tellus, elementum
      eu, semper a, adipiscing nec, purus. Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus. Sed a
      libero. Cras dapibus. Vestibulum eu odio.</small></p>

  <h3>Blockquote</h3>
  <blockquote>Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus. Praesent metus tellus, elementum eu,
    semper a, adipiscing nec, purus. Sed a libero. Cras dapibus. Vestibulum eu odio. Praesent metus tellus, elementum
    eu, semper a, adipiscing nec, purus. Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus. Sed a
    libero. Cras dapibus. Vestibulum eu odio.
  </blockquote>

</div>
