<h2>Forms</h2>

<h3>Text Field Input</h3>
<form>
  <label>Text Field</label>
  <input type="text" placeholder="placeholder"/>

  <label>Disabled Text Field</label>
  <input type="text" placeholder="disabled" disabled />

  <label>Success Text Field</label>
  <input type="text"  class="input-success" />

  <label>Warning Text Field</label>
  <input type="text"  class="input-warning" />

  <label>Invalid Text Field</label>
  <input type="text"  class="input-error" />
</form>

<h3>Text Area — Input</h3>
<form>
  <label>Text Area</label>
  <textarea type="text" placeholder="placeholder"></textarea>

  <label>Text Area Disabled</label>
  <textarea type="text" placeholder="placeholder" disabled></textarea>

  <label>Success Text Area</label>
  <textarea type="text"  class="input-success"></textarea>

  <label>Warning Text Field</label>
  <textarea type="text"  class="input-warning"></textarea>

  <label>Invalid Text Field</label>
  <textarea type="text"  class="input-error" ></textarea>
</form>

<h3>Select Menu — Single</h3>
<p><em>Note — to match the designs we'd have to go with a JS based select option, so leaving like this for now. </em></p>
<form>
  <label>Select</label>
  <select>
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
  </select>
</form>

<form>
  <label>Select Success</label>
  <select class="input-success">
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
  </select>
  <label>Select Error</label>
  <select class="input-error">
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
  </select>
  <label>Select Warning</label>
  <select class="input-warning">
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
  </select>
</form>


<h3>Radio Button — Single-select</h3>
<form>
  <div class="grid-x grid-padding-x">
    <fieldset class="large-5 cell">
      <legend>Radios</legend>
      <input type="radio" name="pokemon" value="Red" id="pokemonRed" required><label for="pokemonRed">Red</label>
      <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
      <input type="radio" name="pokemon" value="Yellow" id="pokemonYellow"><label for="pokemonYellow">Yellow</label>
    </fieldset>
  </div>
</form>

<h3>Checkboxes</h3>
<form>
  <div class="grid-x grid-padding-x">
    <fieldset class="large-7 cell">
      <legend>Checkbox</legend>
      <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
      <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
      <input id="checkbox3" type="checkbox"><label for="checkbox3">Checkbox 3</label>
    </fieldset>
  </div>
</form>


<h3>Fieldset</h3>
<form>
  <div class="grid-x grid-padding-x">
    <fieldset class="large-7 cell fieldset">
      <legend>Fieldset Legend</legend>
      <input id="checkbox4" type="checkbox"><label for="checkbox4">Checkbox 1</label>
      <input id="checkbox5" type="checkbox"><label for="checkbox5">Checkbox 2</label>
      <input id="checkbox6" type="checkbox"><label for="checkbox6">Checkbox 3</label>
    </fieldset>
  </div>
</form>

<h3>Field with Button</h3>

<form class="input-group">
  <input placeholder="placeholder" type="text" class="input-group-field" />
  <div class="input-group-button">
    <input type="submit" class="button" value="submit" />
  </div>
</form>


