<h2>Links</h2>

<p><em>See atoms/links.scss</em></p>
<h3>Text Link — Primary</h3>
<a href="#">Read More</a>

<h3>Text Link — Inverted</h3>
<a href="#" class="link-inverted">Read More</a>

<h2>Buttons</h2>
<p><em>See base/button.scss</em></p>

<h3>Primary Button</h3>
<a href="#" class="button">Call to Action</a>

<h3>Outline Button</h3>
<a href="#" class="button hollow">Call to Action</a>

<h3>Outline Button with arrow</h3>
<a href="#" class="button hollow arrow">Call to Action</a>

<h3>Primary Button Small</h3>
<a href="#" class="button small">Call to Action</a>

<h3>Button Small Outline Arrow</h3>
<a href="#" class="button small hollow arrow">Call to Action</a>

{#<h3>Secondary Icon/Form Button</h3>#}
{#<a href="#" class="button secondary">{% include '/themes/custom/dvele/svg/folder.svg' %}  Call to Action</a>#}

{#<h3>Inverted Button</h3>#}
{#<a href="#" class="button hollow secondary">Call to Action</a>#}

{#<h3>Inverted Icon/Form Button</h3>#}
{#<a href="#" class="button hollow secondary">{% include '/themes/custom/dvele/svg/folder.svg' %} Call to Action</a>#}

{#<h3>Tertiary Button (Calendar)</h3>#}
{#<a href="#" class="button hollow primary small">Call to Action</a>#}

{#<h3>Filter — Popular Topic</h3>#}
{#<a href="#" class="filter filter-arrow">Ben Johnson</a>#}

{#<h3>Filter — Dropdown</h3>#}
{#<ul class="dropdown menu dropdown-filter-arrow"#}
{#    data-dropdown-menu#}
{#    data-disable-hover="true"#}
{#    data-click-open="true"#}
{#>#}
{#  <li>#}
{#    <a href="#" class="dropdown-filter">Topic</a>#}
{#    <ul class="menu">#}
{#      <li><a href="#">Option 1</a></li>#}
{#      <li><a href="#">Option 2</a></li>#}
{#      <li><a href="#">Option 3</a></li>#}
{#    </ul>#}
{#  </li>#}
{#</ul>#}

{#<h3>Taxonomy — Chip</h3>#}
{#<a href="#" class="taxonomy-chip">Taxonomy 1</a>#}

{#<h3>Taxonomy — Chip over Image</h3>#}

{#<div class="taxonomy-chip-wrapper">#}
{#  <a href="#" class="taxonomy-chip">Category</a>#}
{#  <img src="https://via.placeholder.com/200x200" />#}
{#</div>#}
