.page-blog {

  h1 {
    position: relative;
    @extend .h2;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }
}

.blog-post {

  &__date-byline {
    @include rem(font-size, 17px);
    margin-bottom: 20px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid $medium-gray;
    padding-bottom: 20px;
  }

  &__byline {
    margin-right: 6px;

    svg {
      margin-right: 4px;
    }
  }

  &__date {
    svg {
      margin-right: 4px;
      margin-left: 6px;
    }
  }

  &__tags {
    display: flex;
    align-items: baseline;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;

    svg {
      margin-right: 10px;
    }
  }

  img {
    width: 100%;
    object-fit: cover;

    @include mq($from: small_desktop) {
      max-height: 750px;
    }
  }

  &__tags-items {
    list-style: none;
    padding: 0;
    display: flex;
  }

  &__tags-item {
    margin-right: 6px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    display: flex;

    span {
      display: block;
      margin-left: 6px;
      color: $primary-color;
    }
  }

  p, ol, h2, h3, h4, ul:not(.blog-post__tags-items) {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .media--type-image {
    padding: 10px;
    margin-bottom: 20px;

    p {
      @include rem(font-size, 18px);
      font-family: 'EB Garamond', serif;
      max-width: 100%;
      margin-bottom: 0;
      font-style: italic;
    }
  }
}

.cke_editable {
  img {
    width: 40% !important;
    height: auto !important;
    margin: 0 auto !important;
    display: flex !important;
  }
}
