.page-blog {

  h1 {
    position: relative;
    @extend .h2;
    margin-bottom: 16px;

    @include mq($from: medium-large) {
      @include blog-width();
    }
  }
}

.blog-post {

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $medium-gray;
    margin-bottom: 20px;
    padding-bottom: 12px;

    @include mq($until: small_plus) {
      border-top: 1px solid $medium-gray;
    }

    @include mq($until: medium) {
      flex-direction: column;
    }
  }

  &__lede {
    @extend .p;
  }

  &__share {

    @include mq($from: medium) {
      width: 30%;
    }
  }

  &__date-byline {
    @include rem(font-size, 17px);
    position: relative;
    display: flex;
    align-items: center;

    @include mq($from: medium) {
      width: 70%;
    }

    @include mq($until: small_plus) {
      flex-direction: column;
      padding-top: 14px;
    }
  }

  &__byline {
    @include mq($until: small_plus) {
      margin-bottom: 10px;
    }
  }

  &__date {
    font-weight: 600;

    svg {
      margin-left: 6px;
      margin-right: 4px;
    }
  }

  &__tags {
    display: flex;
    align-items: baseline;

    svg {
      margin-right: 10px;
    }
  }

  &__tags-items {
    list-style: none;
    padding: 0;
    display: flex;
  }

  &__tags-item {
    text-transform: capitalize;
    font-weight: 600;
    margin-right: 6px;
    letter-spacing: 1px;
    position: relative;
    display: flex;

    span {
      display: block;
      margin-left: 6px;
      color: $primary-color;
    }
  }


  p, ol, h2, h3, h4, ul:not(.blog-post__tags-items) {

    @include mq($from: medium-large) {
      @include blog-width();
    }
  }
}

.width--70 {

  @include mq($from: medium-large) {
    @include blog-width();
  }
}
