.page-blog {

  h1 {
    position: relative;
    @extend .h2;
    margin-bottom: 16px;

    @include mq($from: medium-large) {
      @include blog-width();
    }
  }
}

.blog-post {

  &__date-byline {
    @include rem(font-size, 17px);
    margin-bottom: 20px;
    border-bottom: 1px solid $medium-gray;
    padding-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;

    @include mq($until: small_plus) {
      flex-direction: column;
      border-top: 1px solid $medium-gray;
      padding-top: 14px;
    }

    @include mq($from: small_plus) {

    }
  }

  &__byline {
    @include mq($until: small_plus) {
      margin-bottom: 10px;
    }
  }

  &__date {
    font-weight: 600;

    svg {
      margin-left: 6px;
      margin-right: 4px;
    }
  }

  &__tags {
    display: flex;
    align-items: baseline;

    svg {
      margin-right: 10px;
    }
  }

  &__tags-items {
    list-style: none;
    padding: 0;
    display: flex;
  }

  &__tags-item {
    margin-right: 6px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    display: flex;

    span {
      display: block;
      margin-left: 6px;
      color: $primary-color;
    }
  }

  p, ol, h2, h3, h4, ul:not(.blog-post__tags-items) {

    @include mq($from: medium-large) {
      @include blog-width();
    }
  }
}

.width--70 {

  @include mq($from: medium-large) {
    @include blog-width();
  }
}
