.hero {
  margin-bottom: 80px;
  //padding-top: 70px;

  &__media {
    line-height: 0;

    img {
      width: 100%;
      height: auto;

      @include mq($from: x_wide) {
        height: 800px;
        object-fit: cover;
      }
    }
  }

  &__wrap {
    position: relative;
  }

  &__content {
 //   position: absolute;
    background-color: $black;
    width: 100%;
    //bottom: -70px;
    border-bottom: 10px solid $primary-color;

    p {
      @include rem(font-size, 18px);
      @include rem(line-height, 34px);
    }

    * {
      color: $white;
    }
  }

  &__content-inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 10px;
  }

  &__text-wrap {
    display: flex;
    align-items: flex-start;
  }

  &__title {
    width: 50%;
    flex-basis: 50%;
  }

  &__text {
    width: 50%;
    flex-basis: 50%;
    padding-left: 40px;
    padding-top: 16px;
  }

  &__video-container {
    height: 600px;
    background-color: #0c0d0e;

    @include mq($from: medium-large) {
      height: 800px;
    }
  }
}

.hero__video-container {
  &.is-started & {
    background-color: transparent !important;
  }
}
