/*
Icon theming.
 */
.icon-item {
  border: 1px dashed $charcoal;
  padding: 10px 20px 20px 20px;
  margin-bottom: 30px;
  background-color: white;

  .ion {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  &__preview-icon {
    vertical-align: bottom;
  }

  &__preview-scale {
    color: #888;
    font-size: 12px;
    margin-top: 5px;
  }

  h2 {
    border-bottom: 1px solid $charcoal;
  }

  &__step {
    display: inline-block;
    line-height: 1;
    position: relative;
    width: 10%;
    color: $charcoal;
  }

  .step i {
    transition: opacity .3s;
  }

  .usage {
    margin-top: auto;
  }

  &__usage {

    input {
      font-family: monospace;
      margin-right: 3px;
      padding: 2px 5px;
      -webkit-touch-callout: text;
      -webkit-user-select: text;
      -khtml-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
      width: 100%;
    }

    label {
      display: block;
    }

    .icon-item__form-item--css {
      margin-bottom: 0;
    }
  }

  .usage label:first-child {
    padding-left: 0;
  }

  .usage .css {
    width: 80px;
  }

  .svg-inline--fa {
    margin-bottom: 20px;
  }
}
