/*
 * Widescreen menu.
 */
.main-menu {
  display: none;

  @include mq($from: small_desktop) {
    display: block;
    margin-top: 20px;
  }

  /* Mega menu list */
  // Some general resets for the entire menu.
  a {
    text-decoration: none;
    color: $white;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  &__items {
    margin-left: 0;
    padding-left: 0;
    list-style: none;

    @include mq($from: small_desktop) {
      margin: 0;
      padding: 0;
      z-index: 15;
      display: flex;
    }
  }

  &__item {
    /* A top level navigation item in the mega menu */
    @include mq($from: small_desktop) {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &--submenu-level-1 {
      > .no-link {
        @include mq($from: small_desktop) {
          display: block;
          @include rem(font-size, 14px);
          line-height: 2.14;
          text-transform: uppercase;
          margin-bottom: 10px;
          opacity: 0.5;
          font-weight: 600;
          letter-spacing: 1px;
          margin-top: -2px;
        }
      }
    }
  }

  // Second level.
  &__sub-nav {
    /* main-menu__sub-navigation panel */
    @include mq($from: small_desktop) {
      position: absolute;
      top: 118px;
      background-color: $secondary-color;
      color: $white;
      right: 0;
      left: 0;
      width: 100%;
      z-index: 320;
      @include fade-effect();
      visibility: hidden;
      opacity: 0;

      // Debug submenu (uncomment).
      // visibility: visible !important;
      // opacity: 1 !important;
    }

    // No animation for IE11.
    @include ie11 {
      @include no-animation();
    }

    .container {
      @include mq($from: small_desktop) {
        @include container(1320px);
        padding: 44px 20px 30px 20px;
      }
    }
  }

  // Utility menu classes from the link attributes UI.
  .is-hidden {
    @include visually-hidden();
  }

  .col-heading-is-hidden {
    //  margin-top: 40px;
  }
}
