/*
 * Widescreen menu.
 */
.main-menu {
  display: none;

  @include mq($from: small_desktop) {
    display: block;
    margin-top: 20px;
  }

  /* Mega menu list */
  // Some general resets for the entire menu.
  a {
    text-decoration: none;
    color: $white;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  &__items {
    margin-left: 0;
    padding-left: 0;
    list-style: none;

    &--level-0 {
      @include mq($from: small_desktop) {
        margin: 0;
        padding: 0;
        display: flex;
      }
    }
  }

  &__item {
    /* A top level navigation item in the mega menu */
    @include mq($from: small_desktop) {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &--level-0 {

      // All top level menu items
      > a {
        @include rem(font-size, 17px);
        display: block;
        padding: 10px 24px;
        border: 1px dashed $white;
        margin: 0 10px;
        letter-spacing: 2px;

        &.has-action {
          background-color: $bright-red;
          color: $white;
        }

        #{$a-tags-hover} {
          text-decoration: none;
          background-color: $secondary-color;
          color: $black;
        }
      }
    }

    // Top level menu items that have a sub-menu panel.
    &--submenu-level-0 {
      > a {
        @include font-awesome("\f13a", after, $font-size: 19px, $margin: 0 0 0 10px);

        &.panel-is-open {
          .svg-inline--fa {
            transform: rotate(540deg);
          }
        }

        #{$a-tags-hover} {

          .svg-inline--fa {
            color: $black;
          }
        }
      }
    }
  }

  // Second level.
  &__sub-nav {
    /* main-menu__sub-navigation panel */
    @include mq($from: small_desktop) {
      position: absolute;
      top: 122px;
      background-color: $secondary-color;
      color: $white;
      right: 0;
      left: 0;
      width: 100%;
      z-index: 320;
      @include fade-effect();
      visibility: hidden;
      opacity: 0;
      height: 0;

      &.l-content {
        margin-top: 0;
      }

      // Debug submenu (uncomment).
      // visibility: visible !important;
      // opacity: 1 !important;
    }

    &.panel-is-open {
      visibility: visible;
      opacity: 1;
      height: inherit;
    }

    // No animation for IE11.
    @include ie11 {
      @include no-animation();
    }

    .container {
      @include mq($from: small_desktop) {
        @include container(1320px);
        padding: 44px 20px 30px 20px;
      }
    }
  }

  // Utility menu classes from the link attributes UI.
  .is-hidden {
    @include visually-hidden();
  }
}
