.filter-wrap {
  margin-bottom: 40px;

  .filter-toggle {
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 99;
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    h2 {
      position: relative;
      @include ion-icons('\f2f7', 40px, $position: absolute, $top: 3px, $right: -50px, $color: $primary-color);

      &:before {
        transition: transform .5s ease-in-out;
      }
    }

    &.filter-toggle-expanded {
      h2 {
        @include ion-icons('\f2f7', 40px, $position: absolute, $top: 3px, $right: -50px, $color: $primary-color, $rotate: 180);
      }
    }

    &:before,
    &:after {
      content: '';
      border-top: 1px solid $black;
      margin: -14px 20px 0 0;
      flex: 1 0 20px;
    }

    &:after {
      margin: -14px 0 0 70px;
    }
  }

  .view-filters {
    @include fade-effect();
    visibility: hidden;
    opacity: 0;
    height: 0;

    &.filters-expanded {
      visibility: visible;
      opacity: 1;
      height: inherit;
    }
  }
}
