/**
 * Accordion component styling.
 */
@import "../global-includes";

.js-accordion {
  @include container(1100px);
  margin-bottom: 50px;
  padding: 10px 0 0 0;

  .columns & {
    max-width: inherit;
    padding-top: 0;
  }

  @include mq($from: small_desktop) {
    padding-top: 30px;
    margin-bottom: 70px;

    .columns & {
      padding-top: 0;
    }
  }

  &__header {
    @include rem(font-size, 18px);
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    text-align: left;
    width: 100%;
    font-weight: bold;
    padding: 18px 0 18px 2px;
    cursor: pointer;
    margin: 0 0 0 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $primary-color;

    @include remix-icon("\ea11", $margin: 0 8px 0 0, $font-size: 28px, $transdur: .5s);

    &:hover {
      color: $primary-color;
    }

    &[aria-expanded="true"] {
      margin-bottom: 0;
      border-bottom: none;
      border-bottom: none;
      color: $primary-color;

      &:after {
        transform: rotate(405deg);
      }

    }

    &:focus {
      outline: none;
      color: $primary-color;

      .user-is-tabbing & {
        //    border: 2px solid $system-message-red;
        //     outline: 2px solid $system-message-red;
      }
    }
  }

  &__content {
    padding: 4px 40px;
    border-bottom: 2px solid $primary-color;
  }

  /* title in content hidden by default */
  .animated-accordion__title {
    @include visually-hidden();
  }

  .animated-accordion__panel {
    display: block;
    overflow: hidden;
    opacity: 1;
    transition: visibility 0s ease, max-height 0.3s ease, opacity 0.3s ease;
    max-height: 100em;
    visibility: visible;
    transition-delay: 0s;
    margin: 0 0 20px 0;
    padding: 0;
    //  border: 2px solid $dk-blue;
    border-top: none;
  }

  /* This is the hidden state */
  [aria-hidden="true"].animated-accordion__panel {
    display: block;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition-delay: 0.1s, 0s, 0s;
    margin: 0;
    padding: 0;


    @media print {
      visibility: visible;
      opacity: 1;
      max-height: 100em;
    }
  }
}

.columns {
  @include container(1100px);
}
