/*
 * Stats component styling.
 */
@use './node_modules/sass-rem' as rem;
@use "../global-includes" as *;

.stats {
  @include container(1280px);
  padding-top: 20px;
  padding-bottom: 50px;

  @include mq($from: small_plus) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq($until: small_desktop) {
      margin-bottom: 40px;
    }

    @include mq($from: small_plus, $until: small_desktop) {
      width: 50%;
    }

    @include mq($from: small_desktop) {
      width: 25%;
    }
  }

  &__item-number {

    h2 {
      font-family: 'Rozha One', serif;
      color: $charcoal;
      font-size: rem.convert(100px);
      letter-spacing: rem.convert(3px);
      line-height: .9;
      border-bottom: 2px dashed $charcoal;
    }
  }

  &__item-desc {

    h3 {
      font-family: 'Noto Sans SC', sans-serif;
      font-weight: 400;
    }
  }

  &__item-icon {


    .ion-icon {
      font-size: rem.convert(80px);
      color: $primary-color;
    }
  }
}
