/*
 * Stats component styling.
 */
@import "../global-includes";

.stats {
  @include container(1280px);
  padding-top: 20px;
  padding-bottom: 50px;

  @include mq($from: small_plus) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq($until: small_desktop) {
      margin-bottom: 40px;
    }

    @include mq($from: small_plus, $until: small_desktop) {
      width: 50%;
    }

    @include mq($from: small_desktop) {
      width: 25%;
    }
  }

  &__item-number {

    h2 {
      font-family: 'Rozha One', serif;
      color: $charcoal;
      @include rem(font-size, 100px);
      @include rem(letter-spacing, 3px);
      line-height: .9;
      border-bottom: 2px dashed $charcoal;
    }

    &--title {
      h2 {
        @include rem(font-size, 60px);
      }
    }
  }

  &__item-desc {

    h3 {
      font-family: 'Noto Sans SC', sans-serif;
      font-weight: 400;
      text-align: center;
    }
  }

  &__item-icon {


    .ion-icon {
      @include rem(font-size, 80px);
      color: $primary-color;
    }
  }


  svg {
    width: 200px;
  }
}
