/*
Timeline (simple style).
 */
@use './node_modules/sass-rem' as rem;
@use "../global-includes" as *;

.timeline-simple {
  @include container(1280px);
  padding-top: 50px;
  padding-bottom: 40px;
  margin-bottom: 60px;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    display: inline-block;
    border-left: 3px dashed $medium-gray;
    width: 40px;
    left: 50%;
    height: 94%;
    top: 140px;
  }

  &__title {
    padding-bottom: 30px;

    h2 {
      text-align: center;
    }
  }

  &__item-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__content-wrap {
    position: relative;
  }

  &__item {

    @include mq($from: medium-large) {
      flex-basis: 46%;
      width: 46%;
    }

    &:nth-child(even) {
      margin-top: 140px;

      h2 {
        text-align: left;
        padding-left: 110px;
      }
    }

    &:nth-child(odd) {

      .timeline-simple__date {
        &:before {
          right: -50px;
          left: inherit;
        }

        &:after {
          right: 50px;
          left: inherit;
        }
      }

      h2 {
        text-align: right;
        padding-right: 110px;
      }
    }
  }

  &__date {
    position: relative;

    // Connection line.
    &:before {
      content: '';
      position: absolute;
      display: inline-block;
      height: 3px;
      width: 100px;
      top: 30px;
      left: -50px;
      border-top: 3px dashed $dark-gray;
    }

    // Connection dot.
    &:after {
      content: '';
      position: absolute;
      top: 14px;
      display: inline-block;
      height: 34px;
      width: 34px;
      background-color: $secondary-color;
      border: 6px solid $primary-color;
      border-radius: 100%;
      left: 50px;
    }

    h2 {
      font-size: rem.convert(80px);
    }
  }
}
