// Global box sizing / border-box.
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.l-content {

  .page-contained-width & {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-right: 30px;
    padding-left: 30px;
  }

  &__inner {
    .page-contained-width & {
      max-width: 1500px;
      padding: 40px 24px 50px 24px;
      margin: 0 auto;
    //  box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.1), 0 4px 120px 0 rgba(0, 0, 0, 0.1);
      background-color: $white;
    }
  }
}
