// Global box sizing / border-box.
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.l-content {

  .page-contained-width & {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-right: 30px;
    padding-left: 30px;
  }

  &__inner {
    .page-contained-width & {
      @include container(1500px);
      padding: 40px 24px 50px 24px;
      margin: 0 auto;
      background-color: $white;
    }

    .page-standard.page-contained-width & {
      @include container(1340px);
    }
  }
}
