body {
  font-family: 'Noto Sans SC', serif;
  font-size: 100%;
  font-weight: 400;
  color: $charcoal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#{headings(1,6)} {
}

.h1,
h1 {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  @include rem(font-size, 54px);
  line-height: 58px;
  letter-spacing: 1px;
  margin-top: 0;

  @include mq($from: small_desktop) {
    @include rem(font-size, 70px);
    @include rem(line-height, 78px);
    @include rem(margin-bottom, 28px);
  }
}

.h2,
h2 {
  font-family: 'EB Garamond', serif;
  font-weight: 500;
  @include rem(font-size, 28px);
  @include rem(line-height, 30px);
  @include rem(margin-bottom, 25px);
  margin-top: 0;

  @include mq($from: small_desktop) {
    @include rem(font-size, 50px);
    @include rem(line-height, 54px);
    @include rem(margin-bottom, 28px);
  }
}

.h3,
h3 {
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: 400;
  @include rem(font-size, 20px);
  @include rem(line-height, 25px);
  @include rem(margin-bottom, 20px);
  margin-top: 0;

  @include mq($from: small_desktop) {
    @include rem(font-size, 26px);
    @include rem(line-height, 30px);
    @include rem(margin-bottom, 22px);
  }
}

.h4,
h4 {
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: 400;
  @include rem(font-size, 18px);
  @include rem(line-height, 25px);
  margin-top: 0;
  margin-bottom: 0;

  @include mq($from: small_desktop) {
    @include rem(font-size, 22px);
    @include rem(line-height, 30px);
    @include rem(margin-bottom, 18px);
  }
}

.h5,
h5 {
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  @include rem(font-size, 12px);
  @include rem(line-height, 25px);
  margin-top: 0;
  margin-bottom: 0;

  @include mq($from: small_desktop) {
    @include rem(font-size, 14px);
    @include rem(line-height, 30px);
  }
}

.h6,
h6 {
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: 400;
  @include rem(font-size, 16px);
  @include rem(line-height, 25px);
  @include rem(margin-bottom, 12px);
  margin-top: 0;
  margin-bottom: 0;

  @include mq($from: small_desktop) {
    @include rem(font-size, 18px);
    @include rem(line-height, 30px);
  }
}

.page-wrap {
  li,
  .p,
  p {
    @include rem(font-size, 16px);
    @include rem(line-height, 26px);
    @include rem(margin-bottom, 15px);
    margin-top: 0;
    letter-spacing: .03rem;


    @include mq($from: small_desktop) {
      @include rem(font-size, 17px);
      @include rem(line-height, 32px);
    }
  }
}
