/*
WCAG requires that no loss of content or functionality occurs when the
end user overrides page styles for paragraph spacing to 200%
of the font size, text line height/spacing to 150% of the font size,
word spacing to 16% of the font size, and letter spacing to 12%
of the font size. Ensure that your page text can be modified
without it disappearing or overlapping other page content.
 */

body {
  font-family: 'IBM Plex Sans', verdana, sans-serif;
  font-size: 100%;
  font-weight: 500;
  color: $charcoal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h1,
h1 {
  font-family: 'EB Garamond', Georgia, serif;
  font-weight: 400;
  @include rem(font-size, 54px);
  line-height: 58px;
  letter-spacing: 1px;
  margin-top: 0;

  @include mq($from: small_desktop) {
    @include rem(font-size, 70px);
    @include rem(line-height, 78px);
    @include rem(margin-bottom, 28px);
  }
}

.h2,
h2 {
  font-family: 'EB Garamond', serif;
  font-weight: 500;
  @include rem(font-size, 44px);
  @include rem(line-height, 48px);
  @include rem(margin-bottom, 25px);
  margin-top: 0;

  @include mq($from: small_desktop) {
    @include rem(font-size, 56px);
    @include rem(line-height, 58px);
    @include rem(margin-bottom, 28px);
  }
}

.h3,
h3 {

  font-weight: 400;
  @include rem(font-size, 20px);
  @include rem(line-height, 25px);
  @include rem(margin-bottom, 20px);
  margin-top: 0;

  @include mq($from: small_desktop) {
    @include rem(font-size, 26px);
    @include rem(line-height, 30px);
    @include rem(margin-bottom, 22px);
  }
}

.h4,
h4 {

  font-weight: 400;
  @include rem(font-size, 18px);
  @include rem(line-height, 25px);
  margin-top: 0;
  @include rem(margin-bottom, 12px);

  @include mq($from: small_desktop) {
    @include rem(font-size, 22px);
    @include rem(line-height, 30px);
    @include rem(margin-bottom, 18px);
  }
}

.h5,
h5 {

  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  @include rem(font-size, 12px);
  @include rem(line-height, 25px);
  margin-top: 0;
  margin-bottom: 0;

  @include mq($from: small_desktop) {
    @include rem(font-size, 14px);
    @include rem(line-height, 30px);
  }
}

.h6,
h6 {

  font-weight: 400;
  @include rem(font-size, 16px);
  @include rem(line-height, 25px);
  @include rem(margin-bottom, 12px);
  margin-top: 0;
  margin-bottom: 0;

  @include mq($from: small_desktop) {
    @include rem(font-size, 18px);
    @include rem(line-height, 30px);
  }
}

.l-content {
  li,
  .p,
  p {
    @include rem(font-size, 16px);
    @include rem(line-height, 26px);
    @include rem(margin-bottom, 32px);
    margin-top: 0;
    @include rem(letter-spacing, 1px);

    @include mq($from: small_desktop) {
      @include rem(font-size, 19px);
      @include rem(line-height, 32px);
      @include rem(margin-bottom, 38px);
    }
  }
}

#{headings(1,6)} {
//  font-family: 'EB Garamond', serif;
}
