/*
 * Tables styling.
 */
@use './node_modules/sass-rem' as rem;
@use "../global-includes" as *;

table {
  font-size: rem.convert(18px);
  border-collapse: collapse;
  margin: 25px 0;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  thead tr {
    background-color: $primary-color;
    color: $white;
    text-align: left;
  }

  th,
  td {
    padding: 12px 15px;
  }

  tbody tr {
    border-bottom: 1px solid #ddd;
  }

  tbody tr:nth-of-type(even) {
    background-color: #eaeaea;
  }

  tbody tr:last-of-type {
    border-bottom: 2px solid $primary-color;
  }

  tbody tr.active-row {
    font-weight: bold;
    color: $primary-color;
  }

  caption {
    font-size: rem.convert(20px);
    font-weight: 600;
    background-color: $light-gray;
    padding: 10px;
  }
}
