@use './node_modules/sass-rem' as rem;
@use "../global-includes" as *;

/*
WCAG requires that no loss of content or functionality occurs when the
end user overrides page styles for paragraph spacing to 200%
of the font size, text line height/spacing to 150% of the font size,
word spacing to 16% of the font size, and letter spacing to 12%
of the font size. Ensure that your page text can be modified
without it disappearing or overlapping other page content.
 */

body {
  font-family: $font-sans;
  font-size: 100%;
  font-weight: 400;
  color: $charcoal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: rem.convert(1px);
}

.h1,
h1 {
  font-family: $font-serif;
  font-weight: 400;
  font-size: rem.convert(54px);
  line-height: rem.convert(58px);
  letter-spacing: 1px;
  margin-top: 0;

  @include mq($from: small_desktop) {
    font-size: rem.convert(70px);
    line-height: rem.convert(78px);
    margin-bottom: rem.convert(28px);
  }
}

.h2,
h2 {
  font-family: $font-serif;
  font-weight: 500;
  font-size: rem.convert(44px);
  line-height: rem.convert(48px);
  margin-bottom: rem.convert(25px);
  margin-top: 0;

  @include mq($from: small_desktop) {
    font-size: rem.convert(56px);
    line-height: rem.convert(58px);
    margin-bottom: rem.convert(28px);
  }
}

.h3,
h3 {
  font-size: rem.convert(20px);
  line-height: rem.convert(25px);
  margin-bottom: rem.convert(20px);
  font-weight: 400;
  margin-top: 0;

  @include mq($from: small_desktop) {
    font-size: rem.convert(26px);
    line-height: rem.convert(30px);
    margin-bottom: rem.convert(22px);
  }
}

.h4,
h4 {
  font-size: rem.convert(18px);
  line-height: rem.convert(25px);
  margin-bottom: rem.convert(12px);
  font-weight: 400;
  margin-top: 0;

  @include mq($from: small_desktop) {
    font-size: rem.convert(22px);
    line-height: rem.convert(30px);
    margin-bottom: rem.convert(18px);
  }
}

.h5,
h5 {
  font-size: rem.convert(12px);
  line-height: rem.convert(25px);
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0;

  @include mq($from: small_desktop) {
    font-size: rem.convert(14px);
    line-height: rem.convert(30px);
  }
}

.h6,
h6 {
  font-size: rem.convert(16px);
  line-height: rem.convert(25px);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;

  @include mq($from: small_desktop) {
    font-size: rem.convert(18px);
    line-height: rem.convert(30px);
  }
}

.l-content {
  li,
  .p,
  p {
    font-family: $font-sans;
    font-size: rem.convert(16px);
    line-height: rem.convert(26px);
    margin-bottom: rem.convert(32px);
    letter-spacing: rem.convert(1px);
    margin-top: 0;

    @include mq($from: small_desktop) {
      font-size: rem.convert(19px);
      line-height: rem.convert(32px);
      margin-bottom: rem.convert(38px);
    }
  }
}

.view-content.row {
  @include grid-cols(4);
}


